:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

a {
  text-decoration: none;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

h1 {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}

h1,
h2,
h3 {
  color: var(--navy-blue);
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--ocean);
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.header-main {
  height: 72px;
  align-content: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-span {
  color: var(--navy-blue);
}
.nav-link {
  font-weight: 500;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.e-address {
  color: var(--slate);
  letter-spacing: 0.02em;
}
.e-address:hover,
.e-address:focus {
  color: #404bbf;
}

.header-nav {
  display: flex;
  gap: 76px;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  padding: 0;
}

.address-list {
  display: flex;
  gap: 40px;
}

.hero {
  background-color: var(--grey);
}

.container-hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 188px;
}

.hero-h {
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  padding-top: 188px;
  padding-bottom: 48px;
}
.hero-button {
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
}

.goals-list {
  display: flex;
  padding: 120px 0;
  gap: 24px;
}

.goals-li {
  width: 264px;
  height: 104px;
}

.goals-p {
  letter-spacing: 0.02em;
  color: #434455;
}

header,
.team-card {
  background-color: var(--white);
}

.address {
  font-style: normal;
}

.team {
  background-color: var(--cloud);
}

.team-h {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}

.team-member {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.team-p {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-h {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
  flex-wrap: wrap;
}

.porfolio-item {
  width: 360px;
  height: 420px;
}
.portfolio-h-card {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 8px;
}

.porfolio-p {
  padding-bottom: 32px;
}

.footer {
  background-color: #2e2f42;
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  padding-bottom: 16px;
}

.footer-p {
  color: var(--cloud);
  letter-spacing: 0.02em;
  width: 264px;
  height: 112px;
}

.logo-span-foot {
  color: #f4f4fd;
}
