:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

a {
  text-decoration: none;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

h1 {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}

h1,
h2,
h3 {
  color: var(--navy-blue);
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--ocean);
}

:hover,
:focus {
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.container {
  width: 320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* body svg:hover,
svg:focus {
  fill: var(--green);
} */

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-main {
  align-content: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  color: var(--navy-blue);
}

.nav-list {
  display: none;
}

.nav-link {
  font-weight: 500;
  padding: 24px 0;
  display: block;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
  display: none;
}

.e-address {
  color: var(--slate);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.e-address:hover,
.e-address:focus {
  color: #404bbf;
}

.active {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  content: "";
  margin-top: 20px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  fill: var(--ocean);
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav {
  display: flex;
  gap: 76px;
  align-items: center;
}

.nav-button-menu {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.nav-button-icon {
  fill: #2f2f37;
}

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  justify-self: center;
  max-width: 320px;
  padding: 188px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-h {
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
}
.hero-button {
  background-color: var(--iris);
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.goals-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.icon-box {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  display: none;
}

.goals-h {
  margin-bottom: 8px;
}

.goals-p {
  letter-spacing: 0.02em;
  color: #434455;
}

header,
.team-card {
  background-color: var(--white);
}

.team {
  background-color: var(--cloud);
}

.team-card {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-container {
  padding: 32px 0;
}

.team-h {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-member {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-p {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.team-icons {
  display: flex;
  gap: 24px;
  padding-top: 8px;
  justify-content: center;
}

.team-social-icons {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: #31d0aa;
}

.social-icons {
  fill: #f4f4fd;
}

.portfolio-h {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
  width: 288px;
  height: 400px;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover p {
  transform: translateY(0%);
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-container-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-container-overlay img {
  width: 288px;
  height: 280px;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
  visibility: visible;
  box-shadow: 0px 2px 8px 0px #000000;
}

.porfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-h-card {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.porfolio-p {
  padding-bottom: 32px;
}

.footer {
  background-color: #2e2f42;
  height: 664px;
  width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
}

.flex-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-first {
  margin-right: 0;
  text-align: center;
}

/* .footer-elements {
  display: flex;
  gap: 120px;
} */

.logo-footer {
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
}

.footer-p {
  color: var(--cloud);
  letter-spacing: 0.02em;
  /* width: 264px;
  height: 112px; */
  text-align: left;
}

.logo-span-foot {
  color: #f4f4fd;
}

.footer-second {
  text-align: center;
  align-self: center;
}

.footer-second-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-svg {
  fill: #f4f4fd;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-third {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.footer-third-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-third-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-submit-svg {
  margin-left: 16px;
  fill: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* display: none; */
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button-close:hover,
.modal-button-close:focus > .modal-svg-close {
  fill: #ffffff;
}

.modal-svg-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-div {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .form-input-svg {
  fill: #4d5ae5;
}

.form-input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-span {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-checkbox-input:checked + .modal-label-privacy > .privacy-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
}

.modal-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  background-color: white;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.is-open {
  display: block;
}

.mobile-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 640px;
  padding-left: 16px;
}

.menu-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-top: 72px;
}

.nav-link-menu {
  font-weight: 500;
  padding: 24px 0;
  display: block;
}

.address-menu {
}

.address-list-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.e-address-menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
}
.telephone {
  color: var(--iris);
}

.menu-icons {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.active-page {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .header-nav {
    gap: 0;
    margin-right: 120px;
  }

  .logo {
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
    padding: 0;
  }

  .address-list {
    display: flex;
    flex-direction: column;
  }

  .e-address {
    font-size: 12px;
  }

  .nav-button-icon {
    display: none;
  }

  .hero {
    max-width: 768px;
    padding: 112px 0;
  }

  .goals-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    width: auto;

    width: 736px;
  }

  .goals-li {
    width: 356px;
  }

  .team-list {
    flex-direction: row;
    row-gap: 64px;
    column-gap: 24px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 736px;
  }

  .portfolio-item {
    width: 356px;
    height: 420px;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0%);
  }

  .portfolio-container-overlay img {
    width: 356px;
    height: 300px;
  }

  .footer {
    height: auto;
  }

  .flex-footer {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .footer-first {
    text-align: start;
    width: 264px;
  }

  .footer-second {
    text-align: start;
  }

  .footer-third {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-third-form {
    flex-direction: row;
  }

  .modal-window {
    width: 408px;
    min-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav {
    gap: 76px;
  }

  .logo {
    margin-right: 0;
  }

  /* .header-main {
    align-content: center;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  } */

  .nav-list {
    display: flex;
    gap: 40px;
    padding: 0;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .e-address {
    font-size: 16px;
  }

  .hero {
    max-width: 1440px;
    width: 100%;
    padding: 188px 0;
  }

  .goals-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .icon-box {
    display: flex;
  }

  .team-list {
    flex-direction: row;
    gap: 24px;
  }

  .portfolio-list {
    width: auto;
  }

  .portfolio-item {
    width: 360px;
    height: 420px;
  }

  .footer {
    background-color: #2e2f42;
    height: 312px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .flex-footer {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
  }

  .logo-footer {
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer-first {
    margin-right: 120px;
  }

  .footer-p {
    width: 264px;
    height: 112px;
  }

  .footer-second {
    align-self: auto;
  }

  .footer-third {
    margin-left: 80px;
  }

  .footer-third-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-third-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
  }
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office@2x.jpg");
  }
}
