:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

a {
  text-decoration: none;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

h1 {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}

h1,
h2,
h3 {
  color: var(--navy-blue);
}

button {
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--ocean);
}

:hover,
:focus {
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

body svg:hover,
svg:focus {
  fill: var(--green);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-main {
  align-content: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-span {
  color: var(--navy-blue);
}
.nav-link {
  font-weight: 500;
  padding: 24px 0;
  display: block;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.e-address {
  color: var(--slate);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.e-address:hover,
.e-address:focus {
  color: #404bbf;
}

.active {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  content: "";
  margin-top: 20px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  fill: var(--ocean);
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav {
  display: flex;
  gap: 76px;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  padding: 0;
}

.address-list {
  display: flex;
  gap: 40px;
}

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  justify-self: center;
  max-width: 1440px;
  padding: 188px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-h {
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
}
.hero-button {
  background-color: var(--iris);
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--white);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.goals-list {
  display: flex;
  gap: 24px;
}

.icon-box {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.goals-h {
  margin-bottom: 8px;
}

.goals-p {
  letter-spacing: 0.02em;
  color: #434455;
}

header,
.team-card {
  background-color: var(--white);
}

.address {
  font-style: normal;
}

.team {
  background-color: var(--cloud);
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-container {
  padding: 32px 0;
}

.team-h {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-member {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-p {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.team-icons {
  display: flex;
  gap: 24px;
  padding-top: 8px;
  justify-content: center;
}

.team-social-icons {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: #31d0aa;
}

.social-icons {
  fill: #f4f4fd;
}

.portfolio-h {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
  width: 360px;
  height: 420px;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover p {
  transform: translateY(0%);
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-container-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay {
  visibility: visible;
  box-shadow: 0px 2px 8px 0px #000000;
}

.porfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-h-card {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.porfolio-p {
  padding-bottom: 32px;
}

.footer {
  background-color: #2e2f42;
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.flex-footer {
  display: flex;
  align-items: baseline;
}

.footer-first {
  margin-right: 120px;
}

.footer-elements {
  display: flex;
  gap: 120px;
}

.logo-footer {
  padding-bottom: 16px;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-p {
  color: var(--cloud);
  letter-spacing: 0.02em;
  width: 264px;
  height: 112px;
}

.logo-span-foot {
  color: #f4f4fd;
}

.footer-second-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.footer-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-svg {
  fill: #f4f4fd;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-third-p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-third-form {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.footer-submit-svg {
  margin-left: 16px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button-close:hover,
.modal-button-close:focus > .modal-svg-close {
  fill: #ffffff;
}

.modal-svg-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-div {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus > .form-input-svg {
  fill: #4d5ae5;
}

.form-input-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.modal-checkbox-input:checked + .modal-label-privacy > .privacy-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.privacy-link {
  color: #4d5ae5;
}

.modal-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
